@import 'colors';


.App{
    margin: 0;
    padding: 0;
    font-family: "Fira sans",sans-serif;
 background-color: saddlebrown;
    height: 100%;

  .headerapp{
    background-color: #282c34;
    height: 100%;
    .header{
background-color: #1f1f1f;
        height: 60px;
  
        .logo{
            height: 50px;
            float: left;
            width: 45px;
            border-radius: 25px;
        }
        .indiv{
    color: #55bd21c5;
   // background-color: #272727;
    width: 150px;
    display: flex;
    float: left;
   // flex-direction: column;
    //align-items: center;
    height: 20px;
    margin-top: -9px;
    font-size: 11px;
    font-weight: bold;
    
            .headerna1{
               
            }
            #hr{
               background-color: red; 
            }
            //.headerna2{}
        
    }
}

.content{
   background-color: #272727;
    .trans{
        display: flex;
        flex-direction: row;
        .input{
            height: 20px;
            margin-left: 17px;
            background-color:#1f1f1f;
        }
        .date{
            height: 20px;
            margin-left: 130px;
            margin-top: 10px;
      }
    }
    .input1{
        height: 20px;
        margin-left: 100px;
   background-color: #1f1f1f;
    }
    .amt{
        float: right;
        background-color: rgb(59, 9, 177);
        color:red;
        margin-top: -25px;
    }
}
 .getimage{
     background-color: #1f1f1f;
     height: 423px;
     //color: red;
     
    .pict1{
       // display: flex;
        left: 0;
        background-color: #1f1f1f;
        width:50% ;
        height: 100%;
    display: grid;
    grid-template-columns:200px 170px 170px ;
    grid-template-rows: 150px 150px;
    grid-gap:10px 10px ;
    //margin: 0px 0px 80px 80px;
    .popup{height: 190%;
        width: 190%;
         background-color: #1f1f1f;
         border: 2px solid grey;
       // justify-content: center;
        //right: 0;
       // top: 20;
    margin: 0% 10% 0% 20%;
    z-index: 0;
    .mann{   
    .man{
           font-weight: bold;
           font-size: 90%;
           margin-top: 0%;
           width: 50%;
          // background-color: rgb(5, 4, 4);
           float: left;
           //display: flex;
           //flex-direction: row;
           
       }
       .cls{
        float: right;
        margin-top: 0%;
        
    }
}

.box{
    width: 373px;
    height: 280px;
    margin: auto;
  //  margin: 0% 0% 0% -10%;
   // border: 2px solid grey;
.tabs{display: flex;
justify-content: center;
//margin: 0% 0% 0% 0%;
//background-color: green;
.tab{
    flex: 1;
    background-color: grey;
    text-align: center;
    position: relative;
   // margin: 0% 0% 0% -40%;
}
.active-tab{
    border: none;
    background-color: white;

}
}
.contentt{
position: relative;
.contents{
    display: none;
    position: relative;
.data{
    float: right;
}
.imj{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 2px solid red;
}
}
.active-contents{
display: block;
transition: all is ease-in-out;
margin-left: 10px;
margin-right: 10px;
}
}

}
}

    }


    .active-tabs{
background-color: red;
width: 40%;
height: 38%;
margin-left: 21%;
margin-top: 7.5%;
    }
    .active-tabs::before{
        content: "";
        display: block;
        position: absolute;
        top: -5;
        left: 50;
        transform: translateX(-50%);
        width: 40%;
        height: 38%;
        margin-left: 21%;
        margin-top: 7.5%;
        background-color: rgb(42, 165, 83);
    }
    //.btn{        display: flex;       flex-direction: row;margin-top: 2%;        float: left;}
    .content-tab{
        flex-grow:1;
        .active-content{
            display: block;
        }
        .content{
            background-color: brown;
            padding: 20px;
            width: 100%;
            height: 70%;
            display: none;
        }
    }

   
    //.pict{text-align: center;
       // border-radius: 0.3rem;
       // color: red;}
  //     .nav-menu{
//.nav-menu.active{}
       
       
     .di{ 
       // right:0;
       float: right;
        z-index: 0;
       background-color: rgb(42, 165, 83);
       // position: fixed;
       color: black;
        height: 11.3%;
        width: 30%;
          .sidebar{
           // position: fixed;
            height: 650%;
            margin-top: -420px;
       
            background-color: #1f1f1f;
            border: 2px solid black;
            flex-wrap:nowrap;
            flex-direction: column;
            border-top-right-radius: 0.5rem;
            .table{
           .thead{
               background-color: #ffffff;
               color: #949899;
           }
           .tbody{
               color: #c9c9c9;
               margin-top: 5px;
               margin-right: 50px;
           }}
    }
.navdivlow{
    background-color: #262626;
    color: blanchedalmond;
    height: 216.6%;
    
}

.footerdivr{
    right: 0;
   background-color: #297e3e;
   width: 100%;
   height: 104%;
.button5{
    height: 100%;
    width: 200px;
    background-color: #af5f08;
}
.button6{
height: 100%;
width: 200px;
background-color: #7e3429;
}
}



}

}
//}


    
    
.footd{

    .footerdiv{
        
                .footerdivl{
            float: left;
            background-color:#262626;
            width:70% ;
            .button{
                height: 40px;
                width: 70px;
                background-color: #136cfe;
            }
                }
               
            }
     
}   



    }

}

    @import 'mobile';